<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xkdev.justtexteditor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:authorities="MyDB"
            android:name="com.xkdev.justtexteditor.login.LoginProvider"/>
<activity android:name="com.xkdev.justtexteditor.MainActivity">
    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
</activity>
        <activity android:name="com.xkdev.justtexteditor.EditActivity"/>
        <activity android:name="com.xkdev.justtexteditor.login.LoginActivity"/>
        <activity android:name="com.xkdev.justtexteditor.settings.SettingsActivity"
            android:label="@string/app_name"/>
        <activity android:name="com.xkdev.justtexteditor.SendEmailActivity"/>
    </application>

</manifest>
